<header>
  <ul class="nav">
    <li class="logo">Rant.ly</li>
    <li><%= link_to 'Login' %></li>
    <li><a class="button" <%= link_to 'JOIN', '/register' %></a></li>
  </ul>
</header>

<div class="container">
  <h1>Rantly</h1>
    <h2>Let it all out</h2>
      <div>
        <%= image_tag "corgi-sunglasses.jpg" %>
        <p>Ranty rant rant. I don't like things. Can you believe that person or thing? Stuff is the worst. Grr. Rant rant rant. CSS is the penultimate language on my list of least favorites. JavaScript is number one. <br>| Rantimus, king of Ranters</p>
      </div>
</div>