<%= render 'layouts/header' %>

<div class="welcome-container">
  <h1>Rantly</h1>

  <h2>Let it all out</h2>

  <% if cookies[:welcome_back] > 1  %>
    <h3 class="titles welcome-back">Welcome Back! Please consider registering to begin your ranting!</h3>
    <% end %>
  <div class="grid">
    <div class="col-1-3">
      <%= image_tag "corgi-sunglasses.jpg" %>
    </div>
    <div class="col-2-3">
      <p>Ranty rant rant. I don't like things. Can you believe that person or thing? Stuff is the worst. Grr. Rant rant
        rant. Seriously, all the things are totally awful. I can't even handle it. I just wanna rant about it all
        forever. Thank goodness for Rantly, because I can now actually do said ranting forever and ever and that would
        make me happy if I was capable of that, but I just exist solely for the purpose of ranting.
      </p>
      <p>| Rantimus, king of Ranters</p>
    </div>
  </div>
</div>