/*
 *= require_tree .
 *= require_self
*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  font-family: 'Shadows Into Light', cursive;
}

.nav {
  background: #333333;
  text-align: right;
  color: #D3D4D4;
  display: flex;
  padding-left: 0px;

  .logo {
    font-size: 20px;
    padding: 1em;
    width: 100%;
    text-align: left;
  }
  li {
    display: inline;
    float: right;
    padding: 1em;

  }

  .login {
    color: #ffffff;
  }

  .button {
    border: 1px solid #646464;
    display: block;
    padding: 3px 45px 3px 28px;
    background: #38731F;
    text-decoration: none;
    margin: 0 auto;
    color: #ffffff;
  }
}

a:visited {
  color: #D3D4D4;
}

.container {
  h1 {
    background: #ffffff;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
  }
  h2 {
    background: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4em;
  }
  div {
    height: 350px;
    background: #646464;
    img {
      height: 150px;
      padding-left: 10em;
      position: relative;
      top: 25%;
    }
    p {
      text-align: left;
      color: #D3D4D4;
      width: 50%;
      position: relative;
      top: 19%
    }
  }
}

[class*='col-'] {
  float: left;
}

.col-1-4 {
  width: 33%
}

.col-3-4 {
  width: 66%
}

