/*
 *= require_tree .
 *= require_self
*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  font-family: 'Shadows Into Light', cursive;
}

.nav {
  background: #333333;
  text-align: right;
  color: #D3D4D4;
  display: flex;
  padding-left: 0px;

  .logo {
    font-size: 20px;
    padding: 1em;
    width: 100%;
    text-align: left;
    a:link {
      text-decoration: none;
    }
  }
  li {
    display: inline;
    float: right;
    padding: 1em;

  }

  .nav-button {
    color: #ffffff;
  }

  .button {
    border: 1px solid #646464;
    display: block;
    padding: 3px 45px 3px 28px;
    background: #38731F;
    text-decoration: none;
    margin: 0 auto;
    color: #ffffff;
  }
}

a:visited {
  color: #D3D4D4;
}

.welcome-container {
  h1 {
    background: #ffffff;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
  }
  h2 {
    background: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4em;
  }
  div {
    height: 350px;
    background: #646464;
    img {
      height: 150px;
      padding-left: 10em;
      position: relative;
      top: 25%;
    }
    p {
      text-align: left;
      color: #D3D4D4;
      width: 80%;
      position: relative;
      top: 19%
    }
  }
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width: 33%
}

.col-2-3 {
  width: 66%
}

.col-1-2 {
  width: 50%
}

.col-9-10 {
  width: 90%;
}

.col-1-4 {
  width: 25%
}

.col-3-4 {
  width: 75%;
}

.col-1-5 {
  width: 20%;
}

.registration-container {
  h1 {
    margin: 0;
  }
  .small-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bio-field {
    display: flex;
    flex-direction: column;
    width: 96%;
    padding-bottom: 1em;
    .field-height {
      height: 12em;
    }
  }
  .registration-radio-button {
    li {
      list-style: none;
    }
    display: flex;
    justify-content: space-around;
    padding-left: 0;
  }
  .button {
    background: #38731F;
    width: 95%;
    padding: 0;
    height: 2.5em;
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'Shadows Into Light', cursive;
  }
  padding: 1em 0em 1em 1.5em;
  background: #ffffff;
  width: 60%;
  border: 1px solid #000000;
  margin: 4em auto;
}

.background {
  background: #646464;
  height: 750px;
}

.titles {
  text-align: center;
  font-size: 2em;
  a:link {
    text-decoration: none;
    color: #D3D4D4;
  }

}

.frequency {
  font-size: 3em;
}

.input-field {
  width: 95%;
}

#rant_rant {
  height: 20em;
}

.dashboard-sidebar {
  background: #646464;
  height: 100em;
  margin-top: -1em;
  color: #D3D4D4;
}

.rant-form-container {
  width: 95%;
  margin: auto;
  height: 25em;
  .button {
    background: #38731F;
    width: 98%;
    margin: auto;
    color: #ffffff;
    height: 2em;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
  }
}

.rants-display {
  .col-1-5 {
    text-align: center;
  }
  .rant-interactions {
    text-align: right;
  }
}

.followers {
  text-align: center;
}

.black-links {
  a:link {
    text-decoration: none;
    color: #000000;
  }
  a:visited {
    color: #000000;
  }
}

.blue-links {
  a:link {
    color: #238DD0;
    text-decoration: underline;
  }
  a:visited {
    color: #238DD0;
  }
}

.subtitle {
  font-size: 2em;
  padding-top: 2em;
}

.errors {
  color: #DB4D4D;
  display: inline;
}

.welcome-back {
  background: #38731F;
  margin-bottom: 0;
  height: 3em;
  padding-top: 1.2em;
  color: #ffffff;
}

#rant-page-follow {
  font-size: .75em;
  text-align: right;
  width: 85%;
  margin: auto;
}

.individual-display {
  width: 90%;
  margin: auto;
}

.search form {
  width: 95%;
  margin: auto;
  .button {
    background: #38731F;
    width: 30%;
    padding: 0;
    height: 2em;
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'Shadows Into Light', cursive;
  }
  .field {
    width: 65%;
    height: 4em;
  }
}

.profile-image {
  text-align: center;
}