<header>
  <ul class="nav">
    <li class="logo"><%= link_to 'Rant.ly', welcome_path %></li>
    <li><a class="login" <%= link_to 'Login', signin_path %></a></li>
    <li><a class="button" <%= link_to 'JOIN', register_path %></a></li>
  </ul>
</header>
